---
http_interactions:
- request:
    method: post
    uri: http://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.photos.getRecent&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="6e52efbe8e7085e20a60ff5a38c2b5c0",
        oauth_nonce="WK9IreJON6tvwN4WID70zfjJeYoX%2FCvDT1pdxUrmmRE%3D", oauth_signature="Au4AlSLRvfS7MhsMNh9JZyPwL6E%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1377601816", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1, "pages":10, "perpage":100, "total":1000, "photo":[{"id":"9604338679",
        "owner":"69562542@N04", "secret":"9354208255", "server":"7349", "farm":8,
        "title":"canyon 3-13-1-22", "ispublic":1, "isfriend":0, "isfamily":0}, {"id":"9604338861",
        "owner":"25580087@N06", "secret":"0eabf34ac2", "server":"2824", "farm":3,
        "title":"P1030950", "ispublic":1, "isfriend":0, "isfamily":0}, {"id":"9604338921",
        "owner":"21891198@N03", "secret":"6fd4cb9ba4", "server":"7302", "farm":8,
        "title":"DSC06351", "ispublic":1, "isfriend":0, "isfamily":0}, {"id":"9604338973",
        "owner":"7709911@N07", "secret":"c11a198628", "server":"3808", "farm":4, "title":"P8080039-OV3-mod",
        "ispublic":1,[...]
